@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background: black;
  scroll-behavior: smooth;
}

.mainCont{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btnBackground{
  background: linear-gradient(180deg, #FFEDA3 0%, #BF9852 100%);
}

.customFont{
  font-family: 'Syne', sans-serif;
}

select{
  appearance: none;
  -moz-appearance: none;
  -webkit-animation: none;
  background-repeat: no-repeat;
  background-size: calc(100% - 3px) center;
  background-size: 12px;
  background-position-x: 92%;
  background-position-y: 50%;
}